body{
    background: linear-gradient(to right, #FF87CA, #EED7CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.first{
    padding: 20px;
}
.row{
    padding: 10px;
}

.last{
    padding: 60px;
}

.friend{
    width: 600px;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.family{
    width: 400px;
    height: 350px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.plant{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 5%;
}

.sleep{
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.random{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    border-radius: 5%;
}

h1, h2, p{
    font-family: courgette;
}

p{
    font-size: 18px;
}
